
<div class="w-75 mx-auto pt-5 text-center">
	<h2>The Magic of India Headline Goes here</h2>
	<p class="pt-2 blockquote flex-wrap mx-auto">
		Arum hilibus, seque dolorro volorerum quo blacerspit untibus, inciaectur si dus si od quiae nosae core velest, sinust id ut aut fuga. Nam
		eSediamus andiscia quam, et earum a nos est harciis acerunti voluptissit, culliquaero qui ducid exceptatur aut odit laborem periae. Nequodi alique
		comni doluptur. Arum hilibus, seque dolorro volorerum quo blacerspit untibus, inciaectur si dus si od quiae nosae core velest, sinust id ut aut
		fuga. Nam eSediamus andiscia quam, et earum a nos est harciis acerunti voluptissit, culliquaero qui ducid exceptatur aut odit laborem periae.
		Nequodi alique comni doluptur
	</p>
</div>
