
<div class="w-75 mx-auto pt-5 text-center">

	<h2>Out of Africa—Room With a View of
		the Wild Weiero Frtioere</h2>
	<h3>Facculpa nis nonsequi ius aut
		occab idem eum quidi ipsandit to omnis
		de pa qui beaquam atur?</h3>
		<div class="row row-cols-2">		
			<p class=" pt-2 blockquote flex-wrap mx-auto">
			Accuptas ium que vent venditis doluptatum quatemperem con conecus.
			Elit quidelit, optio dolenduciet ilicatur, que nos et facimus eius, quae. Uci
			nis velendi genitatum renimus magniment fuga. Amusam quosam earciet	

			ut dolor aliqui necum fugia qui sequae inciligenet lab in cum volute pliqui
			aliat quia que nullore volore

		</p>		
					<img class=" gy-4" src="https://placeimg.com/300/200/nature" alt="..." />

		</div>

		<div class="row row-cols-2">		
			<p class=" pt-2 blockquote flex-wrap mx-auto">
			Accuptas ium que vent venditis doluptatum quatemperem con conecus.
			Elit quidelit, optio dolenduciet ilicatur, que nos et facimus eius, quae. Uci
			nis velendi genitatum renimus magniment fuga. Amusam quosam earciet	

			ut dolor aliqui necum fugia qui sequae inciligenet lab in cum volute pliqui
			aliat quia que nullore volore

		</p>		
					<img class=" gy-4" src="https://placeimg.com/300/200/nature" alt="..." />

		</div>
		<div class="row row-cols-2">		
			<p class=" pt-2 blockquote flex-wrap mx-auto">
			Accuptas ium que vent venditis doluptatum quatemperem con conecus.
			Elit quidelit, optio dolenduciet ilicatur, que nos et facimus eius, quae. Uci
			nis velendi genitatum renimus magniment fuga. Amusam quosam earciet	

			ut dolor aliqui necum fugia qui sequae inciligenet lab in cum volute pliqui
			aliat quia que nullore volore

		</p>		
					<img class=" gy-4" src="https://placeimg.com/300/200/nature" alt="..." />

		</div>

	</div>


