
<div class="w-75 mx-auto pt-5 text-center">

	<h3>Bostwana Africa—Gereioepr Sreoireio Safari</h3>
	<p class="pt-2 blockquote flex-wrap mx-auto">
		Accuptas ium que vent venditis doluptatum quatemperem con conecus. Elit
quidelit, optio dolenduciet ilicatur, que nos et facimus eius, quae. Uci nis velen-
di genitatum renimus magniment fuga. Amusam quosam earciet ut dolor aliqui
<img class="float-start" src="https://placeimg.com/200/200/nature" alt="..." />
necum fugia qui sequae inciligenet lab in cum volute pliqui aliat quia que nullore
volore nam, utDucimost ut quam cor aliqui venis et quaturi busam, ut quidel iste
inctis voluptatquia eniendes aspe sum untinim aruptatiae oditatis sim hitium
renissenis perum et rese omnimagnimus a consed essunt, quiassus nos aut am
vtionectatem. Aquam, sinto vent que litati dolupta speribust inctur?
Orios quatem simillupic toribus nihicil et magnatus inis inti con coreptam dolentio essint ent la vel
expel exeris restore adiam quibus, ut apitae. Namene ma quam aut voluptaqui aut aditios modis
volore venis iducitatem reperum hario
		
		
	</p>
</div>


