<div class="w-75 mx-auto pt-5 text-center">
	<div class="row row-cols-2 w-75 mx-auto my-4">
		<div class="col">
			<h2 class="pt-2 blockquote flex-wrap mx-auto">The Tastes of North Africa</h2>
			<p class="pt-2 blockquote flex-wrap mx-auto">
				Copy about the wonderful country of Morocco. Tenimagnihit molupic iuscias dolupta sitis ut quistiae pe eariam hicidelendae non natem que nus, ut am,
				solenisquat ad quam am, alignimaion pa eossinctia endae comnimi, que nonsequ amenda pernatusam aliquid elendit am, inissum sequi aditat officiamus.
			</p>
			<p class="pt-2 blockquote flex-wrap mx-auto">
				pa eossinctia endae comnimi, que nonsequ amenda pernatusam aliquid elendit am, inissum sequi aditat officiamus.
			</p>
		</div>
		<div class="col">
			<img class="img-fluid gy-4" src="https://placeimg.com/500/600/nature" alt="..." />
		</div>
	</div>
</div>
