<!-- 5 cards -->
<div class="pt-lg-14 pb-lg-12 py-8 bgBeige compassBG bg-cover">
	<div class="container">
		<div class="row row-cols-2 row-cols-lg-5 g-1 g-lg-1">
			<!-- thumbnail -->
			<div class="col">
				<div class="card border-0">
					<a href="#" class="img-zoom">
						<img class="rounded img-fluid" src="../assets/images/thumb-img-7.jpg" alt="" style="margin: auto" />
					</a>
				</div>
				<div class="card border-0 mb-4 ms-2 bg-transparent mb-lg-0" style="width: 85%; height: 55%">
					<div class="card-body mt-n13 bg-white ms-2 rounded-right p-4 rounded shadow">
						<a href="#">
							<h4 class="mb-3 textPrimary">Points on the Compass</h4>
						</a>
						<h5>Where Do You Want To Go?</h5>
						<ul class="list-group border-0">
							<li class="list-group-item border-0 border-0">
								<a href="./africa.html" class="list-group-item-link">Africa</a>
							</li>
							<li class="list-group-item border-0">
								<a href="./latin-america.html" class="list-group-item-link">Latin America</a>
							</li>
							<li class="list-group-item border-0">
								<a href="./asia-india.html" class="list-group-item-link">Asia/India</a>
							</li>
							<li class="list-group-item border-0">
								<a href="./europe.html" class="list-group-item-link">Europe</a>
							</li>
							<li class="list-group-item border-0">
								<a href="./australia-asia.html" class="list-group-item-link">Australiasia</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- thumbnail -->
			<div class="col">
				<div class="card border-0">
					<a href="#" class="img-zoom">
						<img class="rounded img-fluid" src="../assets/images/card-ship.jpg" alt="" style="margin: auto" />
					</a>
				</div>
				<div class="card border-0 mb-4 ms-2 bg-transparent mb-lg-0" style="width: 85%; height: 55%">
					<div class="card-body mt-n13 bg-white ms-2 rounded-right p-4 rounded shadow">
						<a href="#">
							<h4 class="mb-3 textPrimary">Floats Your Boat</h4>
						</a>
						<h5>What Do You Like To Do?</h5>
						<ul class="list-group">
							<li class="list-group-item border-0">
								<a href="./safari.html" class="list-group-item-link">Safari</a>
							</li>
							<li class="list-group-item border-0">
								<a href="./treks.html" class="list-group-item-link">Treks, Walking</a>
							</li>
							<li class="list-group-item border-0">
								<a href="./small-ships.html" class="list-group-item-link">Small Ship</a>
							</li>
							<li class="list-group-item border-0">
								<a href="./world-of-plants.html" class="list-group-item-link">World of Plants</a>
							</li>
							<li class="list-group-item border-0">
								<a href="./food-and-drink.html" class="list-group-item-link">Food & Drink</a>
							</li>
							<li class="list-group-item border-0">
								<a href="./endangered-culture.html" class="list-group-item-link">Endangered Culture</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- thumbnail -->
			<div class="col">
				<div class="card border-0">
					<a href="#" class="img-zoom">
						<img class="rounded img-fluid" src="../assets/images/thumb-img-9.jpg" alt="" style="margin: auto" />
					</a>
				</div>
				<div class="card border-0 mb-4 ms-2 bg-transparent mb-lg-0" style="width: 85%; height: 55%">
					<div class="card-body mt-n13 bg-white ms-2 rounded-right p-4 rounded shadow">
						<a href="#">
							<h4 class="mb-3 textPrimary">Ways To Go</h4>
						</a>
						<h5>How Do You Like To Travel?</h5>
						<ul class="list-group">
							<li class="list-group-item border-0">
								<a href="./private-individual.html" class="list-group-item-link">Private/Individual</a>
							</li>
							<li class="list-group-item border-0">
								<a href="./Organized-Set-Departure-Group.html" class="list-group-item-link">Organized Set Departure Group</a>
							</li>
							<li class="list-group-item border-0">
								<a href="./Custom-Group.html" class="list-group-item-link">Custom Group</a>
							</li>
							<li class="list-group-item border-0">
								<a href="./Multi-generations.html" class="list-group-item-link">Family & Multi-generations</a>
							</li>
							<li class="list-group-item border-0">
								<a href="./Women.html" class="list-group-item-link">Women</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- thumbnail -->
			<div class="col">
				<div class="card border-0">
					<a href="#" class="img-zoom">
						<img class="rounded img-fluid" src="../assets/images/thumb-img-10.jpg" alt="" style="margin: auto" />
					</a>
				</div>
				<div class="card border-0 mb-4 ms-2 bg-transparent mb-lg-0" style="width: 85%; height: 55%">
					<div class="card-body mt-n13 bg-white ms-2 rounded-right p-4 rounded shadow">
						<a href="#">
							<h4 class="mb-3 textPrimary">Travel Dispatches</h4>
						</a>
						<h5>&ldquo;A Broad Abroad&rdquo;</h5>
						<ul class="list-group">
							<li class="list-group-item border-0">
								<a href="./Past-Itineraries.html" class="list-group-item-link">Past Itineraries</a>
							</li>
							<li class="list-group-item border-0">
								<a href="./Exotic-Travel-Archive.html" class="list-group-item-link">Exotic Travel Archive</a>
							</li>
							<li class="list-group-item border-0">
								<a href="./Image-Gallery.html" class="list-group-item-link">Image Gallery</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- thumbnail -->
			<div class="col">
				<div class="card border-0">
					<a href="#" class="img-zoom">
						<img class="rounded img-fluid" src="../assets/images/thumb-img-11b.jpg" alt="" style="margin: auto" />
					</a>
				</div>
				<div class="card border-0 mb-4 ms-2 bg-transparent mb-lg-0" style="width: 85%; height: 55%">
					<div class="card-body mt-n13 bg-white ms-2 rounded-right p-4 rounded shadow">
						<a href="#">
							<h4 class="mb-3 textPrimary">Life Coach Training</h4>
						</a>
						<h5>Custom<br />Group Trips</h5>
						<ul class="list-group">
							<li class="list-group-item border-0">
								<a href="./safari.html" class="list-group-item-link">Sample One</a>
							</li>
							<li class="list-group-item border-0">
								<a href="./safari.html" class="list-group-item-link">Sample Two</a>
							</li>
							<li class="list-group-item border-0">
								<a href="./safari.html" class="list-group-item-link">Sample three</a>
							</li>
							<li class="list-group-item border-0">
								<a href="./safari.html" class="list-group-item-link">Sample Four</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
