<!-- 5 cards -->
<div class="pt-lg-14 pb-lg-12 py-8 bgBeige compassBG">
	<div class="container py-5 compassBG">
		<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
			<div class="col">
				<div class="card border-0">
					<a href="program-single.html" class="img-zoom">
						<img class="rounded img-fluid w-100" src="./assets/images/thumb-img-7.jpg" alt="" />
					</a>
				</div>
				<div class="card border-0">
					<div class="card-body mt-n13 bg-white me-6 rounded-end p-3">
						<a href="program-single.html">
							<h3 class="mb-3 fs-5 textPrimary">Points on the Compass</h3>
						</a>
						<h5>Where Do You Want To Go?</h5>
						<ul class="list-group">
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">Africa</a>
							</li>
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">Latin America</a>
							</li>
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">Asia/India</a>
							</li>
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">Europe</a>
							</li>
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">Australasia</a>
							</li>
						</ul>
						<a href="program-single.html" class="btn-primary-link">Read more</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card border-0">
					<a href="program-single.html" class="img-zoom">
						<img class="rounded img-fluid w-100" src="./assets/images/thumb-img-8.jpg" alt="" />
					</a>
				</div>
				<div class="card border-0">
					<div class="card-body mt-n13 bg-white me-6 rounded-end p-3">
						<a href="program-single.html">
							<h3 class="mb-3 fs-5 textPrimary">Floats Your Boat</h3>
						</a>
						<h5>What Do You Like To Do?</h5>
						<ul class="list-group">
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">Safari</a>
							</li>
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">Treks, Walking</a>
							</li>
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">Small Ship</a>
							</li>
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">World of Plants</a>
							</li>
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">Food & Drink</a>
							</li>
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">Endangered Culture</a>
							</li>
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">Eco-adventures</a>
							</li>
						</ul>
						<a href="program-single.html" class="btn-primary-link">Read more</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card border-0">
					<a href="program-single.html" class="img-zoom">
						<img class="rounded img-fluid w-100" src="./assets/images/thumb-img-9.jpg" alt="" />
					</a>
				</div>
				<div class="card border-0">
					<div class="card-body mt-n13 bg-white me-6 rounded-end p-3">
						<a href="program-single.html">
							<h3 class="mb-3 fs-5 textPrimary">Ways To Go</h3>
						</a>
						<h5>How Do You Like To Travel?</h5>
						<ul class="list-group">
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">Private/Individual</a>
							</li>
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">Organized Set Departure Group</a>
							</li>
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">Custom Group</a>
							</li>
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">Family & Multi-generations</a>
							</li>
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">Women</a>
							</li>
						</ul>
						<a href="program-single.html" class="btn-primary-link">Read more</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card border-0">
					<a href="program-single.html" class="img-zoom">
						<img class="rounded img-fluid w-100" src="./assets/images/thumb-img-10.jpg" alt="" />
					</a>
				</div>
				<div class="card border-0">
					<div class="card-body mt-n13 bg-white me-6 rounded-end p-3">
						<a href="program-single.html">
							<h3 class="mb-3 fs-5 textPrimary">Travel Dispatches</h3>
						</a>
						<h5>&ldquo;A Broad Abroad&rdquo;</h5>
						<ul class="list-group">
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">Past Itineraries</a>
							</li>
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">Exotic Travel Archive</a>
							</li>
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">Image Gallery</a>
							</li>
						</ul>
						<a href="program-single.html" class="btn-primary-link">Read more</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card border-0">
					<a href="program-single.html" class="img-zoom">
						<img class="rounded img-fluid w-100" src="./assets/images/thumb-img-11b.jpg" alt="" />
					</a>
				</div>
				<div class="card border-0">
					<div class="card-body mt-n13 bg-white me-6 rounded-end p-3">
						<a href="program-single.html">
							<h3 class="mb-3 fs-5 textPrimary">Custom<br />Group Trips</h3>
						</a>
						<h5>Sample Trips</h5>
						<ul class="list-group">
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">Sample One</a>
							</li>
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">Sample Two</a>
							</li>
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">Sample three</a>
							</li>
							<li class="list-group-item">
								<a href="#!" class="list-group-item-link">Sample Four</a>
							</li>
						</ul>
						<a href="program-single.html" class="btn-primary-link">Read more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
