<div class="container-fluid bgBlack text-light pt-3">
	<div class="col-sm-12 col-md-12 col-lg-6 mx-auto py-6">
		<h3 class="text-center">Professional Trip Designing for the Inquisitive, Independent & Intrepid</h3>
		<p class="text-center text-light px-3 pt-4 pb-4">
			Does the glut of travel information overwhelm you? Searching for the kind of vacation you want can be work rather than play. As a travel professional, I
			have years of experience navigating through the rough seas of our information age. Terra Nova’s philosophy is if I do not know the answers to your travel
			inquiries from personal experience, I know where to find them.
		</p>
		<div class="row justify-content-center pb-3">
			<div class="col-auto justify-content-center text-light border-start border-top border-bottom border-light border-3 p-2 fs-6 rounded-start">
				FOR YOUR PSYCHIC READING CALL
			</div>

			<a
				href="tel:1-900-123-4567 "
				id="phonenumber"
				class="col-auto bgGreen text-light border-end border-top border-bottom border-light border-3 p-2 fs-6 rounded-end text-decoration-none phonenumber"
				>1-900-BOO-SCARE</a
			>
		</div>
	</div>
</div>
