<div class="footer pt-11 pb-3 text-light">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-8 col-12" id="footer-img-profile">
				<div class="mb-4">
					<img src="@@webRoot/assets/images/nancybells-2.svg" alt="Photo of Nancy Pole-Wilhite in a hat" class="img-fluid mb-2 mt-3 w-75" />
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-6">
				<div class="mb-3 text-light">
					<img src="@@webRoot/assets/images/my-logo.svg" alt="logo of Terra Nova" id="footer-img-logo" />
				</div>
				<div class="mb-4 text-light">
					<p>Terra Nova Travel, LLC<br />2154 NW Aspen Ave.<br />Portland, Oregon, 97210</p>
					<p>Email Me</p>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-6">
				<div class="mb-4">
					<h4 class="mb-4 text-light">Explore</h4>
					<ul class="list-unstyled list-group">
						<li class="list-group-item">
							<a href="#!" class="list-group-item-link text-light">About</a>
						</li>
						<li class="list-group-item">
							<a href="#!" class="list-group-item-link text-light">Points On the Compass</a>
						</li>
						<li class="list-group-item">
							<a href="#!" class="list-group-item-link text-light">Floats Your Boat</a>
						</li>
						<li class="list-group-item">
							<a href="#!" class="list-group-item-link text-light">Ways To Go</a>
						</li>
						<li class="list-group-item">
							<a href="#!" class="list-group-item-link text-light">Travel Dispatches<br />& Gallery</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-6">
				<div class="mb-4">
					<h4 class="mb-4 text-light">Legal</h4>
					<ul class="list-unstyled list-group">
						<li class="list-group-item">
							<a href="#!" class="list-group-item-link text-light">Terms of Service</a>
						</li>
						<li class="list-group-item">
							<a href="#" class="list-group-item-link text-light">Privacy</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-12 footer-text">
			<ul class="list-inline">
				<li class="list-inline-item">©2021 | TERRA NOVA TRAVEL, LLC. ALL RIGHTS RESERVED |</li>
				<li class="list-inline-item">2154 NW ASPEN AVE, PORTLAND, OREGON, USA 97210 |</li>
				<li class="list-inline-item">CALL +1 (503) 296-7913</li>
			</ul>
		</div>
	</div>
	@@include("scripts.html")
</div>
