<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta
	name="description"
	content="Professional trip designing for the inquisitive, 
independent and intrepid.Go hiking, trekking, river rafting, sea kayaking or on 
safari around the world."
/>
<title>Terra Nova Travel - Professional trip designing for the inquisitive, independent and intrepid</title>

<meta
	name="keywords"
	content="Terra Nova, Terranova, Terra Nova Travel, Terranova 
Travel, Terra Nova Tours, Terranova Tours, Terra Nova Tour, Terranova Tour, 
adventures, adventure travel, adventure travel tours, adventure traveltrips, 
adventure travel vacations, active vacations, adventure vacation, vacation packages, 
expeditions, ecotourism, hiking, trekking, treks,  sea kayaking, paddling, cultural 
exploration, cultural tours, expedition cruising, safari, safaris, african safaris, 
game viewing, wildlife, natural history, family adventures, family vacations, 
private trips, custom trips, Africa,   Asia, Asia Pacific, Central America, Europe, 
Chile, Latin America, South America, Himalaya, Himalayas, Everest, Nepal, Annapurna, 
Tibet, Bhutan, India, Kenya, Tanzania, Kilimanjaro, Botswana, South Africa, West 
Africa, Italy, France, Spain, Tuscany, Provence,Andulsia, Peru, Patagonia, 
Galapagos, Inca, Inca trail, Machu Picchu, Belize, Bali,Mexico, Baja"
/>

<meta name="robots" content="index,follow" />

<!-- Libs CSS -->
<link rel="stylesheet" href="@@webRoot/node_modules/ion-rangeslider/css/ion.rangeSlider.min.css" />
<link rel="stylesheet" href="@@webRoot/node_modules/litepicker/dist/css/litepicker.css" />
<link rel="stylesheet" href="@@webRoot/node_modules/bootstrap-icons/font/bootstrap-icons.css" />
<link rel="stylesheet" href="@@webRoot/node_modules/magnific-popup/dist/magnific-popup.css" />

<!-- Theme CSS -->
<!-- build:css @@webRoot/assets/css/theme.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/theme.css" />
<!-- endbuild -->
