<!-- header -->
<div class="header @@classList">
	<!-- navigation start! -->
	<div class="container-fluid nav-background-semi">
		<nav class="navbar navbar-expand-lg navbar-default">
			<a class="navbar-brand" href="@@webRoot/index.html"><img src="@@webRoot/assets/images/my-logo.svg" alt="" /></a>
			<button
				class="navbar-toggler collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbar-default"
				aria-controls="navbar-default"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="icon-bar top-bar mt-0"></span>
				<span class="icon-bar middle-bar"></span>
				<span class="icon-bar bottom-bar"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar-default">
				<button
					class="navbar-toggler collapsed"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbar-default"
					aria-controls="navbar-default"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<i class="fas fa-times"></i>
				</button>
				<ul class="navbar-nav ms-auto me-lg-3">
					<li class="nav-item dropdown disabled">
						<a class="nav-link d-lg-none" href="#"> </a>
					</li>

					<!--  -->

					<li class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle"
							href="#"
							id="menu-2"
							data-bs-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
							data-bs-display="static"
							>Menu</a
						>
						<ul class="dropdown-menu dropdown-menu-arrow d ropdown-menu-xl-left" aria-labelledby="menu-3">
							<li>
								<a class="dropdown-item" href="@@webRoot/pages/morocco.html">Morocco</a>
							</li>
							<li>
								<a class="dropdown-item" href="@@webRoot/pages/safari.html">Safari</a>
							</li>
							<li>
								<a class="dropdown-item" href="@@webRoot/pages/europe.html">Europe</a>
							</li>
							<li>
								<a class="dropdown-item" href="@@webRoot/pages/asia-india.html">Asia-India</a>
							</li>
							<li>
								<a class="dropdown-item" href="@@webRoot/pages/africa.html">Africa</a>
							</li>
							<li>
								<a class="dropdown-item" href="@@webRoot/pages/latin-america.html">Latin America</a>
							</li>
							<li>
								<a class="dropdown-item" href="@@webRoot/pages/australia-asia.html">Australasia</a>
							</li>
							<li>
								<a class="dropdown-item" href="@@webRoot/pages/eco-adventures.html">Eco Adventures</a>
							</li>
							<li>
								<a class="dropdown-item" href="@@webRoot/pages/endangered-cultures.html">Endangered Cultures</a>
							</li>
							<li>
								<a class="dropdown-item" href="@@webRoot/pages/Floats-Your-Boat.html">Floats Your Boat</a>
							</li>
							<li>
								<a class="dropdown-item" href="@@webRoot/pages/food-drink.html">Food Drink</a>
							</li>
							<li>
								<a class="dropdown-item" href="@@webRoot/pages/small-ships.html">Small Ships</a>
							</li>
							<li>
								<a class="dropdown-item" href="@@webRoot/pages/treks.html">Treks</a>
							</li>
							<li>
								<a class="dropdown-item" href="@@webRoot/pages/world-of-plants.html">World Of Plants</a>
							</li>
						</ul>
					</li>

					<!--  -->

					<li class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle"
							href="#"
							id="menu-2"
							data-bs-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
							data-bs-display="static"
							href="#"
							>About Us</a
						>
						<ul class="dropdown-menu dropdown-menu-arrow dropdown-menu-xl-left" aria-labelledby="menu-7">
							<li>
								<a class="dropdown-item" href="@@webRoot/pages/tn_profiles.html">Terra Nova Profiles</a>
							</li>
							<li>
								<a class="dropdown-item" href="@@webRoot/pages/world_citizens.html">World Citizens</a>
							</li>
							<li>
								<a class="dropdown-item" href="@@webRoot/pages/contact_us.html">Contact</a>
							</li>
							<li>
								<a class="dropdown-item" href="@@webRoot/pages/temp.html">Temp</a>
							</li>
						</ul>
					</li>
					<!--  -->
				</ul>
			</div>
			<form class="d-flex">
				<!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" /> -->
				<button class="btn text-white" type="submit"><i class="bi bi-search"></i></button>
			</form>
		</nav>
	</div>
	<!-- navigation close -->
</div>
