<div class="container">
	<div class="row row-cols-4  mx-auto mt-10">
		<div>		
			<img class="img-fluid " src="https://placeimg.com/300/200/nature" alt="..." />
			<p class="text-center">Emielm, solenisqu
				eriewore triero tieroe</p>
		</div>
		<div>		
			<img class="img-fluid " src="https://placeimg.com/300/200/nature" alt="..." />
			<p class="text-center">Emielm, solenisqu
				eriewore triero tieroe</p>
		</div>
		<div>		
			<img class="img-fluid " src="https://placeimg.com/300/200/nature" alt="..." />
			<p class="text-center">Emielm, solenisqu
				eriewore triero tieroe</p>
		</div>
		<div>		
			<img class="img-fluid " src="https://placeimg.com/300/200/nature" alt="..." />
			<p class="text-center">Emielm, solenisqu
				eriewore triero tieroe</p>
		</div>
	</div>
</div>
